<div class="content" ng-init="getCurrExams()">
    <div layout="row">
        <div flex=""><input type="search" placeholder="Search Exams" ng-model="search"/></div>
        <div flex="2"><md-button style="padding:4px;" type="button" class="md-warn" ng-click="addNewExam()">ADD NEW EXAM</md-button></div> 
      </div>
      <md-card ng-click="navogateToQuestions(e)" ng-repeat="e in exam | filter: search " ng-cloak>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ e.name }}</span>
            <span class="md-subhead">{{ e.mark }} marks for each question</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="editExam(e)" class="md-icon-button" aria-label="Edit">
            <md-icon md-svg-icon="content/icons/edit.svg"></md-icon>
          </md-button>
          <md-button ng-click="deleteExam(e)" class="md-icon-button" aria-label="Delete">
            <md-icon md-svg-icon="content/icons/delete.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
</div>